<div class="addFormCapchat">
	<h2>Apporter sa pierre à l'édifice ?</h2>
	<form action="/upload" enctype="multipart/form-data" method="post">
		<%- include('form_text') %>
		<%- include('form_upload') %><br>
		<button type="submit" >Je créer mon théme !</button>
	</form>
</div>