<!-- Crée composant pour champs upload vue js -->
<div class="field_wrapper upload">
	<div>
		<label for="neutres">Neutres</label><br><!-- Mettre props -->
		<input type="file" name="neutres" multiple="multiple"  />
	</div>
	<div>
		<label for="singuliers">Singuliers</label><br><!-- Mettre props -->
		<input type="file" name="singuliers" multiple="multiple"  />
	</div>
</div>
