<div class="field_wrapper text">
	<label>Titre Capcha :</label><br>
	<input type="text" name="titre" id="titre"><br>
	<label>Thème Capcha :</label><br>
	<input type="text" name="theme" id="theme">
</div>