<%- include('header') %>

	<div>
		<h1>C'est ma page d'acceuil ! petit </h1>
	</div>
	<form action="/" method="post">
		<div class="field">
			<label>Titre Capcha :</label><br>
			<input type="text" name="Titre_capchat">
		</div>
		<button type="submit">
			Go
		</button>
	</form>

<%- include('footer') %>
