<%- include('header') %>

	<div>
		<h1>C'est ma page d'acceuil ! petit <%= name %></h1>
	</div>
	<form action="/" method="post">
		<div class="field">
			<input type="text" name="Titre Capchat">
		</div>
		<button type="submit">
			Go
		</button>
	</form>

<%- include('footer') %>
