<%- include('header') %>

	<div class="presentation">
		<h1>Bienvenue à toi fan de Rage against the machine !</h1>
		<div class="desc">
			<p>Si tu en as marre de demander à tes utilisateurs de clicker sur des passages piéton, choisis Capchat !</p>
			<p>Après incription, tu pourras crée ton propre thèmes de dectection de robot.</p>
		</div>
		<h2><a href="#">S'inscrire ?</a></h2>
	</div>
	
	<%- include('form') %>
	
<%- include('footer') %>
